html,
body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  &.dark-mode {
    filter: invert(1);
  }
}

.turbulence {
  filter: url(#wavy);
  will-change: filter;
  contain: layout paint;
}

html.safari .turbulence {
  filter: none;
  will-change: auto;
  contain: none;
}

/*dat.gui*/
.dg.ac {
  display: none;
}
#canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  canvas {
    display: block;
    width: 100%;
    height: 100%;
  }
}

#portfolio {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  padding: 1em;
  width: 1080px;
  margin: 0 auto;
}
::selection {
  background: $blue;
  color: $white;
}
b {
  font-weight: 600;
}
